.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.information input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    margin: 20px;
}

.information button {
    width: 300px;
    height: 50px;
    margin-top: 20px;
}

.information button:hover {
    cursor: pointer;
}