.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid black;
    height: 300px;
}

.header_logo{
    object-fit: contain;
    height: 40px;
}

.header_icon{
    padding: 10px;
}