.datingCards_container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    position: relative;
}

.card{
    position: relative;
    background-color: rgba(14, 61, 164);
    width: 800px;
    height: 400px;
    padding: 20px;
    max-width: 85vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.swipe {
    position: absolute;

}

.cardContent {
    width: 100%;
    height: 100%;
}

.card h2 {
    position: relative;
    bottom: 10px;
    margin: 0px;
    color: #FFAA00;
}